.card {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.card__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card__body {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__btn-group {
  width: 30%;
  display: flex;
  justify-content: end;
}

.card__btn {
  width: 120px;
  height: 40px;
  background-color: transparent;
  transition: 1s;
  font-family: "Aboreto", cursive;
  border: 1px solid black;
  margin-left: 5px;
}

.card__btn:last-child {
  background-color: grey;
}

.card__btn:hover {
  transition: 1s;
  color: white;
  background-color: #000;
}

.card__title {
  font-family: "Aboreto", cursive;
}

.card__desc {
  font-family: "Aboreto", cursive;
}
