.error-container {
  width: 90%;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.error-img-block {
  width: 30%;
  height: min-content;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.error__img {
  width: 30%;
}

.error__title {
  width: 60%;
  font-size: 80px;
}
